<div class="taroun_header">

    <div class="taroun_header_logo">
        <h1>Taroun</h1>
    </div>
    <div class="taroun_header_button nav justify-content-center nav-pills">
        <span class="nav-item mx-1">
            <a class="nav-link" href="#">
                메뉴1
            </a>
        </span>
        <span class="nav-item mx-1">
            <a class="nav-link" href="#">
                메뉴2
            </a>
        </span>

        {% if not user.is_authenticated %}
            <span class="nav-item mx-1">
                <a class="nav-link "  href="{% url 'accountapp:login' %}">
                    로그인
                </a>
            </span>
            <span class="nav-item mx-1">
                <a class="nav-link " href="{% url 'accountapp:create' %}">
                    계정생성
                </a>
            </span>
        {% else %}
            <span class="nav-item mx-1">
                <a class="nav-link" href="{% url 'accountapp:logout' %}">
                    로그아웃
                </a>
            </span>
        {% endif %}
    </div>

</div>